Let's start here.

In [3]:
import pandas as pd
import seaborn as sns
import IPython
import numpy as np
import sweetviz as sv

In [4]:
books_df = pd.read_csv("./data/dataset.csv")
books_df.drop('url', axis = 1, inplace=True)
books_df.drop(books_df.columns[0], axis=1, inplace=True)

In [5]:
books_df.head(1)

,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places,awards_count
0,To Kill a Mockingbird,Harper Lee,95178,4751916,4.28,324,1960,True,"['Classics', 'Fiction', 'Historical']","Pulitzer Prize for Fiction (1961), Audie Award...",United States,4

In [6]:
# books_df.author.nunique(), books_df.shape
books_df.places.isna().sum()
books_df.places.replace(np.nan, "Unknown")

0       United States
1      United Kingdom
2      United Kingdom
3       United States
4             Unknown
            ...
609     United States
610     United States
611           Unknown
612    United Kingdom
613           Unknown
Name: places, Length: 614, dtype: object

In [11]:
anaylze_report = sv.analyze(books_df)
anaylze_report.show_html('analyze.html', open_browser = True)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)Report analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.